<div id="footer" class="row">
  <div class="col-4" style="text-align: center;">
  @Html.ActionLink("Home!", "Index", "Home", new {})
  </div>
  <div class="col-4" style="text-align: center;">
  <p>@Html.ActionLink("Engineers!", "Index", "Engineers")</p>  
  </div>
  <div class="col-4" style="text-align: center;">
  @Html.ActionLink("Machines!", "Index", "Machines") 
  </div>
</div>