@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@model SillyStringz.Models.Engineer

<h2>Add a machine for this engineer: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select a machine!")<br>
    @Html.DropDownList("MachineId")

    <br><br><input type="submit" value="Save" class="btn btn-dark"/>
}

