@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@model SillyStringz.Models.EngineerMachine

<h2>Are you sure you want to delete this machine?</h2>

<h6>Machine: @ViewBag.MachineName</h6>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}
