@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@model SillyStringz.Models.Engineer;
@using SillyStringz.Models;

<h2 style="text-align: center;">Engineer Details:</h2>
<hr>
<div style="text-align: center;">

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)
    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", style = "text-align: center;"})<br><br>
    <input type="submit" value="Edit" class="btn btn-dark" />
  }
</div>
<hr>
<div class="row">
  <div class="col-6">
    <h4>This engineer is licensed to fix the following machines:</h4>
    <h6>(Click link to delete)</h6>
    <ul>
      @foreach (EngineerMachine join in Model.JoinEntities)
      {
        <li>@Html.ActionLink($"{@join.Machine.Name}", "DeleteMachine", new {id = @join.Machine.MachineId}, new {
        style = "color: red" })</li>
      }
    </ul>
  </div>
</div>
